table, th, tr, td{
	border: 2px solid black;
	border-collapse: collapse;
	background-color: white;
	text-align: center;
	height: 30px;
}

table {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

body {	
	background-color: rgb(255, 255, 240);
}

ul.navbar {
list-style-type: none;
margin: 0;
padding: 0;
background-color: rgb(68, 74, 55);
display: flex;
}

ul.navbar li a {
display: block;
color: white;
padding: 14px 16px;
text-decoration: none;
}

ul.navbar li a:hover {
background-color: rgb(242, 242, 170);
color: black;
}
